<p id="message_box"></p>
	<tr>Username</tr>
<input type="text" placeholder="아이디를 입력" id="my_id" /><br/> 
	<tr>Password</tr>
<input type="text" placeholder="비번을 입력" id="my_password" /><br />
<button> Login </button>
<button onclick="a()"> Add User</button>
