<p :id "message_box"><%@message%></p>
	<tr>Username</tr>
<input type="text" placeholder="아이디를 입력" id="my_id" /><br/> 
	<tr>Password</tr>
<input type="text" placeholder="비번을 입력" id="my_password" /><br />
<input type="button" id= "login_button" value="Login" />
<input type="button" id= "signup_button" value="Add User" />
